.a {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
}

.b {
    margin: auto;
    margin-top: 2%;
}

.login {
    margin-top: 15%;
    margin-left: 60%;
    margin-right: 15%;
}

html body {
    background-color: lightgray;
}
